$defaultFont: 'Roboto', sans-serif;
$backgroundColor: #E5E5E5;

.sorting-wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
}

.sorting-description {
  margin: 10px;
  font-family: $defaultFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #929292;
}

.sorting-param {
  margin: 10px;
  font-family: $defaultFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #2F80ED;

  &:hover {
    cursor: pointer;
  }
}

.sorting-input {
  width: 149px;
  border: none;
  font-family: $defaultFont;
}
