$backgroundColor: #2F80ED;
$defaultFont: 'Roboto', sans-serif;

.search-input {
  height: 24px;
  width: 396px;
  margin: 10px;
  border: none;
  background: #EFEFEF;
  font-family: $defaultFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
}

