.page404-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.warning-image {
  margin-right: 10px;
}

.warning-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #828282;
}
